[package]
name = "phymmr_tools"
version = "0.4.0"
edition = "2021"
exclude = ["*.fa,","*.fa/","*.fa.zip","*.txt","*.csv",".idea","test*.py",'*.json','docker', 'phymmr','PhyMMR','*.tsv']
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "phymmr_tools"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.16.3", features = ["extension-module"] }
bio = "*"
itertools = "0.10.5"

[profile.dev]
opt-level = 3

