[package]
name = "phymmr_tools"
version = "0.5.1"
edition = "2021"
include = ["/src"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "phymmr_tools"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.16.3", features = ["extension-module"] }
bio = "*"
itertools = "0.10.5"
serde_json = {version = "1.0.95"}
serde = "1.0.159"
#fastx = "0.2.0"
#needletail = "0.5.1"

[profile.dev]
opt-level = 3

