[package]
name = "phymmr_tools"
version = "0.3.8"
edition = "2021"
exclude = ["*.fa,","*.fa/","*.fa.zip","*.txt","*.csv",".idea","test*.py",'*.json','docker']
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "phymmr_tools"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.16.3", features = ["extension-module"] }
bio = "*"
bytelines = "*"
#hashbrown = {version = "0.12.3", features = ["rayon"]}
itertools = "0.10.5"
#rayon = "1.5.3"
statrs = "0.16.0"
lazy_static = "*"
proc-utils = { path = "proc-utils" }

[profile.dev]
opt-level = 3

