[package]
name = "phymmr_tools"
version = "0.5.11"
edition = "2021"
include = ["/src"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "phymmr_tools"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.16.3", features = ["extension-module"] }
bio = "*"
itertools = "0.10.5"
serde_json = {version = "1.0.95"}
serde = "1.0.159"
flate2 = "1.0.27"
gzip-header = "1.0.0"
crc32fast = "1.3.2"
tempfile = "3.8.0"
fastx = "0.2.0"
rand = { version = "0.8.5", features = ["small_rng"] }
rand_chacha = "0.3.1"

[profile.dev]
opt-level = 3

